<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1><%= title %></h1>
        <h2><%= message %></h2>
        <!-- download button with filepath -->
        <button><a href="/downloadinfoimg">Click to download image below</a></button><br>
        <img src="/infoimg.jpg" alt="Information image that can be downloaded" id="infoImg">
    </header>
    
</body>
</html>